<md-dialog aria-label="New Location">
    <form ng-cloak>
        <md-toolbar style="background-color:rgb(191, 29, 96) !important;">
            <div class="md-toolbar-tools">
                <h2>New Sales Order</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="src/icon/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <!-- Input Form -->
                <md-content layout-padding style="min-width: 700px;">
                    <div>
                        <form name="locationForm">
                            <div layout-gt-md="row" layout-md="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Customer</label>
                                    <md-select ng-model="salesOrder.createdBy" required  >
                                        <md-option ng-repeat="customer in wrapper.customers" value="{{customer.username}}">
                                            {{customer.userFirstName+' '+customer.userLastName}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container>
                                    <label>Order Date</label>
                                    <md-datepicker ng-model="salesOrder.createdDate" required ></md-datepicker>
                                </md-input-container>
                            </div>
                            <div layout-gt-md="row" layout-md="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Status</label>
                                    <md-select ng-model="salesOrder.stateName" required >
                                        <md-option ng-repeat="status in wrapper.status" value="{{status}}">
                                            {{status}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>location</label>
                                    <md-select ng-model="salesOrder.locationId" required >
                                        <md-option ng-repeat="location in wrapper.locations" value="{{location.locationId}}">
                                            {{location.locationName}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div layout-gt-md="row" layout-md="row">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>Remark</label>
                                    <textarea ng-model="salesOrder.salesOrderRemark" md-maxlength="255" rows="2" md-select-on-focus></textarea>
                                </md-input-container> 
                            </div>
                        </form>
                            <hr/>
                            <md-button ng-click="addItem()"> Add Product </md-button>
                            <!-- Line Item Section -->
                            <div style="width: 100%;">
                                <table class="table table-striped" style="border-left: 1px solid #dddbda;border-right:1px solid #dddbda;font-size: 1.2rem;">
                                    <thead>
                                        <tr>
                                            <th >&nbsp;</th>
                                            <th >Material Item</th>
                                            <th >Unit Price (Per/Kg)</th>
                                            <th >Quantity (Kg)</th>
                                            <th >Total Price </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="orderitem in salesOrder.recycleMaterialList">
                                            <td><a>Del</a></td>
                                            <td> 
                                                <!-- <md-input-container class="md-block" flex-gt-sm> -->
                                                    <md-select ng-model="orderitem.rml_name" style="margin:0 !important" ng-change="changeProduct(orderitem,orderitem.rml_name)"  >
                                                        <md-option ng-repeat="item in wrapper.materialItems" value="{{item.rmName}}">
                                                            {{item.rmName}}
                                                        </md-option>
                                                    </md-select>
                                                <!-- </md-input-container> -->
                                            </td>
                                            <td>
                                                {{orderitem.rml_Price}}
                                            </td>
                                            <td>
                                                 <input 
                                                     required 
                                                     type="number" 
                                                     step="any" 
                                                     name="rml_quantity" 
                                                     ng-model="orderitem.rml_quantity" 
                                                     min="0"
                                                     max="999" 
                                                     ng-change="changeQuantity(orderitem)" />
                                            </td>
                                            <td>{{orderitem.totalPrice}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                    <!-- Line Item Section -->
                    </div>
                </md-content>
                <!-- Input Form -->
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="save()">
                Save
            </md-button>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>