<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css" />
    <link data-require="bootstrap-css@3.2.0" data-semver="3.2.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="src/css/customStyle.css" />
    <!-- <script src="lib/jquery/jquery.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <script src="js/$QDecorator.js"></script>
    <style type="text/css">
    md-grid-list {
        margin: 8px;
    }

    .gray {
        background: #f5f5f5;
    }

    .green {
        background: #b9f6ca;
    }

    .yellow {
        background: #ffff8d;
    }

    .blue {
        background: #84ffff;
    }

    .purple {
        background: #b388ff;
    }

    .red {
        background: #ff8a80;
    }
    </style>
    <script type="text/javascript">
    angular.module('gridListDemo1', ['ngMaterial'])
        .controller('AppCtrl', ['$scope','httpFactory',function($scope,httpFactory) {
            $scope.showHints = true;

            $scope.user = {
                username: "",
                password: ""
            };
            $scope.resultLogin = { isSuccess : false , isLogin : false, errorMessage: ''}
            $scope.login = function(){
                httpFactory.login($scope.user.username, $scope.user.password).then(function(result){
                    console.log(result.data);
                    $scope.resultLogin = result.data;
                    $scope.resultLogin.isLogin = true;
                    if(result.data.isSuccess){
                        redirect();
                    }
                })
            }
            var redirect = function(){
                window.location.href = 'http://122.155.202.161:8080/Boonting/index.html#!/main';
            }
        }])
        .factory('httpFactory',['$q','$http',function($q,$http){
            const isMockUp = false;
            const baseURL = 'http://122.155.202.161:8080/Boonting';
            var login = function(username='',password=''){
                var deferred = $q.defer();
                if(isMockUp){
                    deferred.resolve(true);
                }else{
                    $http.post(baseURL+'/rest/login/', { 'username'    : username, 
                                    'password'     : password } 
                    ).then(function(data, status, headers, config) {
                        deferred.resolve(data, status, headers);
                    });
                }
                return deferred.promise;
            }
            return {
                login : login
            }
        }])
    </script>
</head>

<body ng-app="gridListDemo1" style="background-color: rgba(255, 158, 128, 0.36);">
    <div ng-controller="AppCtrl as appCtrl" ng-cloak >
        <div style="text-align: center;width: 100%;display: block;padding-top: 6%;">
            <div layout="row" layout-align="left center" style="padding-bottom: 1%">
                <span style="display:inline-block;max-width: 20%;max-height: 110px;margin: 0 auto;">
                    <img class="rounded-circle" src="/Boonting/src/icon/boonting_logo.jpg" height="100%"></img>
                </span>
            </div>
            <md-content class="md-padding" layout-xs="column" layout="row" style="height:400px;" >
                <div style="width: 30%;height:40%;margin:0 auto;">
                    <form name="userForm">
                        <md-content layout-padding>
                            <h4> Login to Boon Ting</h4>
                            <p ng-if="resultLogin.isLogin" style="color:red;"> {{resultLogin.errorMessage}}</p>
                            <div layout-gt-sm="row" style="text-align: left;">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Username</label>
                                    <input md-maxlength="30" required name="username" ng-model="user.username" />
                                    <!-- <div class="hint" ng-if="showHints">Username or email address</div> -->
                                    <div ng-messages="userForm.username.$error" ng-if="!showHints">
                                        <div ng-message="required">Username is required.</div>
                                        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row" style="text-align: left;">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Password</label>
                                    <input required type="password" name="password" ng-model="user.password" />
                                    <!-- <div class="hint" ng-if="showHints">Password</div> -->
                                </md-input-container>
                            </div>
                        </md-content>
                        <md-dialog-actions layout="row">
                            <span flex></span>
                            <md-button >
                                Reset password
                            </md-button>
                            <md-button ng-click="login()" class="md-raised " style="background-color:rgb(191, 29, 96) !important;color: white !important;">
                                Login
                            </md-button>
                        </md-dialog-actions>
                    </form>
                </div>
            </md-content>
        </div>
    </div>
</body>

</html>