<md-content style="overflow-y:hidden !important;">
    <md-toolbar class="md-grey" style="background-color:rgb(191, 29, 96) !important;">
        <div class="md-toolbar-tools">
            <h2>Report</h2>
            <form name="reportSelectedForm" style="padding-left: 1rem;padding-top: 1rem;">
                <div layout-gt-md="row" layout-md="row">
                    <md-input-container class="md-block" flex-gt-sm >
                        <md-select ng-model="ctrl.wrapper.reportSelected" ng-change="ctrl.switchReport()">
                            <md-option ng-repeat="option in ctrl.wrapper.reportOptions" value="{{option.value}}">
                                {{option.label}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-toolbar>
</md-content>
<md-content>
    <div style="width: 100%;">
        <table 	class="table table-striped" 
	    		style="border-left: 1px solid #dddbda;border-right:1px solid #dddbda;">
	        <thead>
	            <tr >
	                <th ng-if="ctrl.wrapper.reportSelected=='SalesorderByCustomer'">Customer</th>
	                <th ng-if="ctrl.wrapper.reportSelected=='SalesorderByLocation'">Location</th>
	                <th ng-repeat="state in ctrl.wrapper.stateOption" >{{state}}</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr ng-repeat="item in ctrl.reportWrapper.groupReport">
	                <td ng-if="ctrl.wrapper.reportSelected=='SalesorderByCustomer'">{{ctrl.wrapper.customers[item.key].userFirstName +' '+ctrl.wrapper.customers[item.key].userLastName }}</td>
	                <td ng-if="ctrl.wrapper.reportSelected=='SalesorderByLocation'">{{ctrl.wrapper.locations[item.key].locationName}}</td>
	                <td ng-repeat="state in ctrl.wrapper.stateOption">{{item.val[state].length?item.val[state].length:0 }}</td>
	            </tr>
	        </tbody>
	    </table>
    </div>
</md-content>